
/*for 768px and less*/
@media screen and (max-width: 768px) {
	nav {
		width: 75%;
		height: 75%;
	}
	.name {
		font-size:75%;
	}
	.portrait {
		height: 75%;
		max-width: 75%;
	}

}

/*for 480px and less*/
@media screen and (max-width: 480px) {
	nav {
		width: 47%;
	}
	.name {
		font-size:67%;
	}
	.portrait {
		height: 47%;
	}

}

html {	
	margin: 10px;
	font-family: arial;
	width: 100%;
	background-repeat: no-repeat;
}

nav {
	width: 99%;
	background: black;
	/*background-size: cover;*/
	overflow: hidden;
	/*height: 10%;*/
	border-radius: 8px;
}

/*#menuBar {	
	list-style: none;
	margin: 0px;	
}*/

.links {
	/*float: right;*/
}

.link a {
	
}

.name {
	float: left;
	font-size: 42px;
	color: white;
	margin-left: 1%;
	width: 60%;
}

.name:hover {
	font-style: italic;
	color:rgb(47, 144, 241);
}

#menuBar li {
	display: inline;
	float: left;
	width: 12%;
	list-style: none;
	transition: 500ms ease-in-out;
	-webkit-transition: 500ms ease-in-out;
	box-sizing: border-box;
}

button {
	/*float: right;*/
	padding-top: 15%;
	width: 95%;
	border: none;
    color: white;
    background-color: black;
    transition: all 500ms ease-in;
}

button:hover{	
	width: 95%;
	border: none;
	transition: all 500ms ease-out;
	color:rgb(41, 119, 198);
}

.homeElement{
	/*height: 35%;*/
}

.jobTitle {	
	text-align: left; 
	font-size: 24px;
	font-style: italic;
	text-shadow: 5px 2px 1px #888;
}

.portrait {
	float: right;
	height: 327px; 
	max-width: 100%;
	margin-right: 35px;
	margin-top: 10px;
	border: 2px solid black;
	box-shadow: 3px 3px 1px #888888;
	border-radius: 8px;
	-webkit-filter: sepia(100%);
}


.bio {
	float: left;
	width: 75%;
	font-size: 20px;
	width: 66%;
}

.hLine {
	float: left;
    border: 1px solid #888888;
    height: 1px;
	width: 99%;
	margin-top: 8px;
}

.quote {
	font-size: 16px;
	width: 100%;
}

#socLinks{
	width: 100%;
	list-style: none;
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
}

#socLinks li {
	display: block;
	float: left;
	width: 15%;
}

#socLinks li a {
	display: block;
	width: 100%;	
}

.socButtons{
	height: 30px;
	width: 86px;
	box-shadow: 2px 2px 1px #888888;
	padding: 10px;
	border-radius: 18px;
	background: #fff;
	transition: 350ms ease-in;
	margin-top: 8px;
}

.socButtons:hover {
	height: 34px;
	width: 102px;
	transition: 350ms ease-out;
}



.projectLayout {
	display: inline-block;
	text-align: center;
	box-shadow: 5px 5px 3px #888888;
	margin-left: 2%;
}

.projectImg {
	height: 75%;
	width: 75%;
}





