html {	
	margin: 10px;
	font-family: arial;
	height: 666px;
	width: 100%;
}
 
body {
	background: -moz-radial-gradient(center, ellipse cover, rgba(247,245,178,0) 0%, rgba(244,235,195,0.27) 27%, rgba(188,191,153,0.64) 64%, rgba(170,167,153,1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(247,245,178,0) 0%,rgba(244,235,195,0.27) 27%,rgba(188,191,153,0.64) 64%,rgba(170,167,153,1) 100%);
	background: radial-gradient(ellipse at center, rgba(247,245,178,0) 0%,rgba(244,235,195,0.27) 27%,rgba(188,191,153,0.64) 64%,rgba(170,167,153,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f7f5b2', endColorstr='#aaa799',GradientType=1 );}

nav {
	width: 99%;
	background: url(../images/navbar.jpg);
	background-size: cover;
	overflow: hidden;
	height: 137px;
	border-radius: 8px;
}

#menuBar {	
	list-style: none;
	margin: 0px;	
}

.name {
	float: left;
	font-size: 42px;
	margin-left: 20%;
	padding-right: 50px;
	color:darkolivegreen;
	transition: 500ms ease-in-out;
	
}
.name:hover {
	font-style: italic;
	color: orangered;
}

.links{
	margin-right: 20%;
}

#menuBar li {
	display: inline;
	float: left;
	height: 137px;
	width: 95px;
	list-style: none;
	transition: 750ms ease-in-out;
	-webkit-transition: 750ms ease-in-out;	
}

button {
	width: 95px;
	border-radius: 10px;
    color: darkolivegreen;
    background-color: black;
    transition: all 750ms ease-in-out;
    -webkit-transition: all 750ms ease-in-out;

}

button:hover {	
	height: 137px;
	width: 95px;
	background: url(../images/navbar.jpg);
	color: orangered;
	transition: 500ms ease-in-out;
}

element.style {
    width: 1513px;
    height: 137px;
}

.portrait {
	float: left;
	height: 436px; 
	width: 317px;
	margin: 70px;
	margin-left: 10%;
	margin-right: 35px;
	margin-top:10px;
	border: 2px solid black;
	box-shadow: 3px 3px 1px #888888;
	border-radius: 8px;
}

.jobTitle {	
	width:99%;
	font-size: 60px;
	font-style: italic;
	text-shadow: 5px 2px 1px #888;
	box-shadow: 0px 3px 0px #888;
}

.bio {
	float: left;
	width: 400px;
	font-size: 20px;
}

.vLine {
	float: left;
    border-left: 3px solid #888888;
    height: 380px;
	margin-top: 38px;
	margin-left: 30px;
	box-shadow: 3px 3px 1px #888888;
}

.socialBio {
	float: left;
	width: 400px;
	margin-left: 30px;
	margin-bottom: 0px;
	font-size: 20px;
	clear: right;
}

#socLinks{
	list-style: none;
	overflow: hidden;
	height: 235px;
	padding-left: 8%;
	margin-top: 190px;
}

.socButtons{
	height: 40px;
	width: 122px;
	box-shadow: 10px 10px 5px #888888;
	padding: 10px;
	border-radius: 18px;
	background: #fff;
	transition: 350ms ease-in;
}

.socButtons:hover {
	height: 48px;
	width: 142px;
	transition: 350ms ease-out;
}





