<div class="homeContainer">
	<div class="homeElement">
		<div>
			<div class="jobTitle">
				<h1>Web Developer</h1>				
			</div>
		<img class="portrait" src="images/GreenMe.jpg">
			<p class="bio"><strong>Always Learning</strong><br><br>With over 15 years as a technology professional, 
			I'm no stranger to shifting trends and technologies. While developing an expertise in
			IT/IS, I've dedicated an additional 5 years to foster my creative endeavors by achieving
			a BS in Digital Visual Media and traditional training in animation and layout design.
			I've grown with grassroots startups and matured with mid-sized and enterprise level corporations.
			</p>
		</div>
		<div>
			<p class="socialBio"><strong>Galvanize</strong> has become my most recent opportunity for
			adventure as I meld my background experience into application development. Here is
			where my final project, TwitchMe! challenged my knowledge of JavaScript and AngularJS
			to bring forward a rewarding user experience with streaming media. 
			</p>	
		</div>
		<div>
			<center class="quote">
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				<h5>
					"Do. Or do not. There is no try."
				<br><br>
					<em>~Yoda from The Empire Strikes Back</em>
				</h5>
			</center>
		</div>
		<div class="hLine"></div>
		<div>
			<ul id="socLinks">
				<li><a href="https://www.linkedin.com/in/enleightond"><img class="socButtons" src="images/linkedin.png"></a></li>
				<li><a href="https://github.com/enleightond"><img class="socButtons" src="images/github.png"></a></li>
				<li><a href="https://mail.google.com/mail/u/0/#inbox?compose=new"><img class="socButtons" src="images/Gmail.jpg"></a></li>
			</ul>
		</div>
	</div>	
</div>
	