	<div class="homeElement">
		<div class="jobTitle">
			<h1 style="text-align: center; color: black;">Web Developer</h1>				
		</div>
		<div class="bio">
			<h3><strong>Always Learning</strong></h3>
				<p>
				With over 15 years as a technology professional, 
				I'm no stranger to shifting trends and technologies. While developing an expertise in
				IT/IS, I've dedicated an additional 5 years to foster my creative endeavors by achieving
				a BS in Digital Visual Media and traditional training in animation and layout design.
				I've grown with grassroots startups and matured with mid-sized and enterprise level corporations.
				</p>
				<p><strong>Galvanize</strong> has become my most recent opportunity for
				adventure as I meld my background experience into application development. Here is
				where my final project, TwitchMe! challenged my knowledge of JavaScript and AngularJS
				to bring forward a rewarding user experience with streaming media. 
				</p>
		</div>
		<div>
			<img class="portrait" src="images/GreenMe.jpg">
		</div>
		<div class="quote">
			<center>
				<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
				<h5>
					"Do. Or do not. There is no try."
				<br><br>
					<em>~Yoda from The Empire Strikes Back</em>
				</h5>
			</center>
		</div>
		<div class="hLine"></div>
		<div id="socLinks">
			<ul>
				<li><a href="https://www.linkedin.com/in/enleightond"><img class="socButtons" src="images/linkedin.png"></a></li>
				<li><a href="https://github.com/enleightond"><img class="socButtons" src="images/github.png"></a></li>
				<li><a href="https://mail.google.com/mail/u/0/#inbox?compose=new"><img class="socButtons" src="images/Gmail.jpg"></a></li>
			</ul>
		</div>
	</div>	
	